- @source = source rescue 'listing_origin'
.jsmap{:id => "listing_map_canvas_#{@source}"}

- content_for "map_js_#{@source}".to_sym do
  :javascript
    $(document).ready(function() {
      var source = "#{@source}";
      var attributes_prefix = "#{@source}_loc_attributes";
      var google_address = $('#' + attributes_prefix + '_google_address').val();
      var locationGoogleMap = new LocationGoogleMap();
      locationGoogleMap.googlemapMarkerInit('listing_map_canvas_#{@source}',attributes_prefix,source,true, #{tribe_latitude || 'null'}, #{tribe_longitude || 'null'}, google_address);
      $("##{@source}").on('keyup', function(event) {
        locationGoogleMap.timed_input(this);
        //locationGoogleMap.timed_input_on_route()
      });
    });

- if run_js_immediately
  = yield "map_js_#{@source}".to_sym
- else
  - content_for :extra_javascript do
    = yield "map_js_#{@source}".to_sym
