- @payment ||= payment
%p
  %strong Confirmation Number:
  #payment_confirmation_number= @payment.confirmation_number
  %input(id="payment_paypal_id" type="hidden" value="#{@payment.paypal_id}")
  %input(id="payment_id" type="hidden" value="#{@payment.id}")
  %input(id="payment_receipt_url" type="hidden" value="#{sender_payment_receipt_person_transaction_path(id: params[:id] || transaction.id, person_id: params[:person_id] || person.id)}")
  %input(id="paypal_client_id" type="hidden" value="#{PAYPAL_CONFIG.client_id}")
  %input(id="paypal_mode" type="hidden" value="#{PAYPAL_CONFIG.mode}")

  - unless @payment.captured?
    %small
      Confirmation number above is emailed to recipient with a confirmation link.
      Upon item receipt, recipient must click on confirmation link or provide confirmation number to traveller.

.person_info
  %p
    %strong Sender:
  %ul
    %li= @payment.listing_transaction.sender.full_name
    =# link_to @payment.listing_transaction.sender.confirmed_notification_email_addresses.last, "mailto:#{@payment.listing_transaction.sender.confirmed_notification_email_addresses.last}"
    =# link_to @payment.listing_transaction.sender.phone_number, "tel:#{@payment.listing_transaction.sender.phone_number}" if @payment.listing_transaction.sender.phone_number

.person_info
  %p
    %strong Traveller:
  %ul
    %li= @payment.listing_transaction.traveller.full_name
    =# link_to @payment.listing_transaction.traveller.confirmed_notification_email_addresses.last, "mailto:#{@payment.listing_transaction.traveller.confirmed_notification_email_addresses.last}"
    =# link_to @payment.listing_transaction.traveller.phone_number, "tel:#{@payment.listing_transaction.traveller.phone_number}" if @payment.listing_transaction.traveller.phone_number

%p.recipient_email
  %strong Recipient Email:
  = link_to @payment.recipient_email, "mailto:#{@payment.recipient_email}"

%input(id="payment_id" type="hidden" value="#{@payment.id}")

%table
  %thead
    %tr
      %th Item Description
      %th Quantity
      %th Price
  %tbody
    %tr
      %td= link_to @payment.data['transactions'][0]['description'], @payment.listing, target: '_blank'
      %td= @payment.data['transactions'][0]['item_list']['items'][0]['quantity']
      %td
        = @payment.listing.price_symbol
        = @payment.data['transactions'][0]['amount']['total']
        = @payment.data['transactions'][0]['amount']['currency']
    %tr
      %td
      %td Total:
      %td
        = @payment.listing.price_symbol
        = @payment.data['transactions'][0]['amount']['total']
        = @payment.data['transactions'][0]['amount']['currency']

%p
  %strong Meeting Address (Origin)
%p
  = @payment.listing.origin_loc.address

%p
  %strong Shipping Address (Destination)
%p
  = @payment.listing.destination_loc.address

- unless @payment.captured?
  %p
    %strong NOTE:
    Payment amount is only frozen in payer account until delivery is confirmed.
    In which case, it will be deducted from payer account.
