- content_for :title_header do
  %h1 Payment Confirmation

#edit_payment_form_container.centered-section
  %p
    %strong Recipient Email:
    = @payment.recipient_email

  %p
    %strong PayPal Payment ID:
    #payment_paypal_id= @payment.paypal_id
    %input(id="payment_id" type="hidden" value="#{@payment.id}")
    %input(id="payment_receipt_url" type="hidden" value="#{sender_payment_receipt_person_transaction_path(transaction_id: params[:id], person_id: params[:person_id])}")
    %input(id="paypal_client_id" type="hidden" value="#{PAYPAL_CONFIG.client_id}")
    %input(id="paypal_mode" type="hidden" value="#{PAYPAL_CONFIG.mode}")

  = form_for @payment do |f|
    = f.hidden_field :payer_id

  #paypal-button

  =# link_to 'Edit', edit_person_transaction_sender_payment_path(@payment, transaction_id: params[:id], person_id: params[:person_id])
  = link_to 'Back', :back

  //TODO handle failed state condition
  - if @payment.created?
    %script(src="https://www.paypalobjects.com/api/checkout.js")
    :javascript
      window.addEventListener('load', function() {
        paypal.Button.render({

            env: $('#paypal_mode').val(), // Specify 'sandbox' for the test environment

            client: {
                sandbox:    $('#paypal_client_id').val(),
                production: $('#paypal_client_id').val()
            },

            payment: function() {
              return new Promise( function(resolve, reject) { resolve($('#payment_paypal_id').text()) } );
            },

            commit: true,

            onAuthorize: function(data, actions) {
                $('#sender_payment_payer_id').val(data.payerID)

                $.ajax({
                  url: '/sender_payments/' + $('#payment_id').val() + '.json',
                  method: 'put',
                  dataType: 'json',
                  data: $('.edit_sender_payment').serialize()
                }).done(function(data) {
                  window.location = $('#payment_receipt_url').val()

                });
                //TODO handle error condition
           }

        }, '#paypal-button');
      });
  - else
    :javascript
      window.location = document.getElementById('payment_receipt_url').value
