- content_for :title_header do
  %h1 Payment Receipt

#edit_payment_form_container.centered-section
  = render 'sender_payment_details'

  = form_for @payment do |f|
    = f.hidden_field :payer_id

  #paypal-button

  .actions
    =# link_to 'Edit', edit_person_transaction_sender_payment_path(@payment, transaction_id: params[:id], person_id: params[:person_id])
    = link_to 'Print', "javascript: window.print()"
    |
    = link_to 'Listing', @payment.listing
    |
    = link_to 'Home', '/'
